<h1>Log in</h1>
<div class="form-group">
	

	<%= form_for(:session, url: login_path) do |f| %>
		<p>
			<%= f.label :email, for:"exampleFormControlTextarea1" %><br/>
			<%= f.email_field :email, class:"form-control", id:"exampleFormControlTextarea1", placeholder:"Enter email" %>
		</p>
		<p>
			<%= f.label :password, for:"exampleFormControlTextarea1" %><br/>
			<%= f.password_field :password, class:"form-control", id:"exampleFormControlTextarea1", autocomplete: 'off' %>
		</p>
		<p>
			<%= f.submit "Log in" %> 

		</p>
	<% end %>
</div>

