

<% obj.each do |article| %>
	<div class="card text-center container">
	  	<div class="card-header">
	    	<h4><%= link_to article.title, article_path(article) %></h4>
		</div>
		<div class="card-body">
		    <h5 class="card-title"><%= truncate(article.description, length:70) %></h5>
		</div>
		<div class="card-footer text-muted">
			<small> By: <%= article.user.username if article.user %>, <%= time_ago_in_words(article.created_at) %> ago. Last updated: <%= time_ago_in_words(article.updated_at) %> ago
		    </small>
		</div>
	</div>
<% end %>	

