<div class="form-group">
	<% if @article.errors.any? %>
	<div class="alert alert-danger" role="alert">
		<h3>The following errors occurred</h3>
		<ul>
		  	<% @article.errors.full_messages.each do |msg| %>
		      <li><%= msg %></li>
		    <% end %>
		</ul>
	</div>
	<% end %>

	<%= form_for @article do |f| %>
		<p>
			<%= f.label :title, for:"formGroupExampleInput" %><br/>
			<%= f.text_field :title, type:"text", class:"form-control", id:"formGroupExampleInput", placeholder:"Title" %>
		</p>
		<p>
			<%= f.label :description, for:"exampleFormControlTextarea1" %><br/>
			<%= f.text_area :description, class:"form-control", id:"exampleFormControlTextarea1", rows:"3" %>
		</p>
		<p>
			<%= f.submit %> <%=  link_to "Back to listing", articles_path,  type: "button", class: "btn btn-default" %>

		</p>
	<% end %>
</div>
