<div class="page-header">
  <h1 align="center">Articles</h1>
  <p align="center" >Create, edit and view</p>
  <p align="center"><%= link_to " New article", new_article_path,type: "button", class: "btn btn-default" %></p>
</div>

<%= render 'article', obj: @articles %>





