
<div class="page-header">
  <h1><%= @article.title %></h1>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <p><%= @article.description %></p>
  </div>
</div>

<div  class="btn-group" role="group" aria-label="Basic example">
	
	<%=  link_to "Back to listing", articles_path, type: "button", class: "btn btn-default" %> 
	<%=  link_to "Edit this", edit_article_path(@article), type: "button", class: "btn btn-default" %>
	<%= button_to "Delete", article_path(@article), method: :delete, type: "button", class: "btn btn-default showbtn", data: { confirm: "Are you sure you want to delete?" } %>	
</div> 

<h3>Created by:</h3>
<div class="user-card">

	<div class="user-card-body">
		<div class="username"> <%= link_to gravatar_for(@article.user), user_path(@article.user) %>  <%= link_to @article.user.username, user_path(@article.user)%></div>
		</div>
	<div class="article-count"><%= pluralize(@article.user.articles.count, "article") if @article.user.articles %></div>
</div>



