<div class="form-group">
	<% if @user.errors.any? %>
	<div class="alert alert-danger" role="alert">
		<h3>The following errors occurred</h3>
		<ul>
		  	<% @user.errors.full_messages.each do |msg| %>
		      <li><%= msg %></li>
		    <% end %>
		</ul>
	</div>
	<% end %>

	<%= form_for @user do |f| %>
		<p>
			<%= f.label :username, for:"formGroupExampleInput" %><br/>
			<%= f.text_field :username, type:"text", class:"form-control", id:"formGroupExampleInput", placeholder:"Enter username" %>
		</p>
		<p>
			<%= f.label :email, for:"exampleFormControlTextarea1" %><br/>
			<%= f.email_field :email, class:"form-control", id:"exampleFormControlTextarea1", placeholder:"Enter email" %>
		</p>
		<p>
			<%= f.label :password, for:"exampleFormControlTextarea1" %><br/>
			<%= f.password_field :password, class:"form-control", id:"exampleFormControlTextarea1", placeholder:"Enter password" %>
		</p>
		<p>
			<%= f.submit (@user.new_record? ? "Signup" : "Update Account") %> <%=  link_to "Back to listing", articles_path,  type: "button", class: "btn btn-default" %>

		</p>
	<% end %>
</div>
