<h1 class="titles">All Alpha Bloggers</h1>
<% @users.each do |user| %>
		<div class="user-card">
			<div class="user-card-body">
				<div class="username"> <%= link_to gravatar_for(user), user_path(user) %>  <%= link_to user.username, user_path(user)%></div>
			</div>
			<div class="article-count"><%= pluralize(user.articles.count, "article") if user.articles %></div>
		</div>
<% end %>