<div class= "username" align="center"><h2><%= @user.username%></h2></div>
<div class = "profilepic" align="center">
	<%= gravatar_for @user, size: 150 %>
</div>

<div align="center">
	<h4 class="titles"> <%= @user.username%>'s articles</h4>
</div>
<%= render 'articles/article', obj: @user.articles %>