<!DOCTYPE html>
<html>
	<head>
		
	</head>
	<body>
		<div style="border: dotted;">
			<h1 style="text-align: center;">Hello! Welcome to the home page</h1>
			<p style="text-align: center;"><%= link_to "Alpha Blog", articles_path %> | <%= link_to 'About', about_path %> </p>
			
		</div>
	</body>
</html>