<!DOCTYPE html>
<html>
	<head>
		
	</head>
	<body>
		<div class="center jumbotron">
		  <h1>Hello! Welcome to the home page</h1>
		  <p><%= link_to "Sign up", signup_path , class: "btn btn-primary btn-lg" %>  <%= link_to "Log in", login_path , class: "btn btn-primary btn-lg" %> </p>
		</div>
	</body>
</html>