$navbar-default-bg: #3B0B17;
@import "bootstrap";
@import "bootstrap-sprockets";

@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans|Gugi|Ubuntu');


.panel{
	width: 80%;
}

.navbar-brand{
	float: left;
	font-size: 1.7em;
	color: #FFF;
	text-transform: uppercase;
	letter-spacing: -1px;
	font-family: Gugi;
	font-style: italic;
}

.navbar-brand:hover{
	color: #fff;
	text-decoration: none;
}

#navbar-button{
	font-family: Ubuntu;
}

.center{
	text-align: center;
	
	height: 300px;
}

.jumbotron{
	background-image: asset-url('bg--img.jpg');	
	background-repeat: no-repeat;
	background-size: cover;
}

.page-header{
	font-family: Ubuntu;
}

form{
	display: inline;
}

input[type="submit"]{
	color: #333;
    background-color: #fff;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid #ccc;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    border-radius: 4px;
}

.footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid #eaeaea;
	color: #777;

}

.card-title{
	font-family: Ubuntu;
}

.card{
	display: block;
	align: center;
	opacity: 0.8;
	width: 50%;
	margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border-radius: 5px;

	
}

.card-body{
	border: 1px solid #eaeaea;
	color: #777;

    
	

}

.card:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);


}

.card-footer{
	border: 1px solid #eaeaea;
	background-color: #723d3d;
	padding: 5px;
	border-radius: 5px;
	
}

.card-header,{
	font-color: #280000;
 	border: 1px solid #eaeaea;
	background-color: #723d3d;
	border-radius: 5px;

}

.profilepic{
	padding: 50px;
}

h4{
	
}

titles{
	font-family: Ubuntu;
}

.username{
	font-family: Gugi;
}

.user-card{
	font-color: #280000;
 	border: 1px solid #eaeaea;
	background-color: #520505;
	border-radius: 15px;
}

.user-card-body{
	font-size: 20px;
	margin-top: 10px;
    margin-bottom: 10px;
	padding-left: 15px;
	display: inline-block;
}

.user-list{
	list-style: none;
}

.article-count{
	padding-top: 5%;
	padding-right: 15px;
	display: inline-block;
	float: right;
	font-family: Gugi;
	font-style: italic;
	color: #FFF;
}