<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Alpha Blog", root_path, class: "navbar-brand" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <%= link_to "About", about_path, id: "navbar-button"%>
        </li>
        <li><%= link_to "Articles", articles_path, id:"navbar-button"%></li>
        <li> <%= link_to "Log Out", logout_path, method: :destroy, id: "navbar-button" %></li>
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <li>
          <form class="navbar-form navbar-left">

            <div class="form-group">
             
            </div>
          </form>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>